<div [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <img *ngIf="suffix" width="24px" matSuffix [src]="suffix.img" alt="{{ suffix.value }}" />
    <mat-select 
    (selectionChange)="selectionChange($event)" 
    formControlName="{{controlName}}"
    placeholder="{{placeholder}}"
    [disabled]="disableSelect"
    id="{{id}}">
    <mat-option *ngFor="let opt of opts" data-value="opt.value" value="{{ opt.code }}">{{ opt.displayName }}</mat-option>
      <!-- <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option> -->
    </mat-select>
  </mat-form-field>
</div>