<form
  [formGroup]="formGroup" 
  [connectForm]="'formGroup'">
  <h1>{{ 'development.registerStepper.primaryData.title' | translate }}</h1>
    <uland-text-field
    [formGroup]="formGroup"
    [controlName]="'name'"
    [id]="'name'"
    [label]="'formControls.name.label' | translate"
    [placeholder]="'formControls.name.placeholder' | translate"
    [isReadOnly]="false"
    ></uland-text-field>
    <uland-text-field
    [formGroup]="formGroup"
    [controlName]="'displayName'"
    [id]="'displayName'"
    [label]="'formControls.displayName.label' | translate"
    [placeholder]="'formControls.displayName.placeholder' | translate"
    [isReadOnly]="false"
    ></uland-text-field>
    <uland-email-field
    [formGroup]="formGroup"
    [controlName]="'email'"
    [id]="'name'"
    [label]="'formControls.email.label' | translate"
    [placeholder]="'formControls.email.placeholder' | translate"
    [isReadOnly]="false"
    ></uland-email-field>
    <cms-select-field
    [formGroup]="formGroup"
    [controlName]="'selectField'"
    [id]="'selectList'"
    [label]="'formControls.displayName.label' | translate"
    [placeholder]="'formControls.email.placeholder' | translate"
    [opts]="[{id: 0, displayName: 'Associate', code: 'a', value: 'associate'},{id: 1, displayName: 'Disorder', code: 'b', value: 'disorder'}]">
    </cms-select-field>
    <checkbox-field
    [formGroup]="formGroup"
    [controlName]="'adult'"
    [id]="'agreement'"
    [label]="'formControls.adult.label' | translate"
    [checked]="">
    </checkbox-field>
</form>
